<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Stagiaire Ingénieur</h3>
                            <div class="time">2017</div>
                        </div><!--//upper-row-->
                        <div class="company">
                          <a href="https://www.ercom.fr/">ERCOM</a>, Vélizy-Villacoublay
                        </div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>
                          Intégré à l'équipe Support & Intégration, j'ai tout d'abord été chargé d'assister le reste de l'équipe dans 
                          leur rôle de Support en testant différents problêmes rencontrés par les clients grâce à des plateformes 
                          virtuelles.<br>
                          Il m'a ensuite été confié de monter des plateformes de supervision pour les différentes infrastructures d'ERCOM. 
                          Ces plateformes sont formées autour du couple Prometheus/Grafana et entièrement intégrer à l'intérieur 
                          de conteneurs. De plus, j'ai écrit des scripts Ansible afin de déployer le système beaucoup plus facilement.
                        </p>
                        <p>
                          Cette expérience m'a permis de découvrir de nombreux outils tel que Ansible, Docker ou Kubernetes. 
                          J'y ai découvert le Go et le Python. ERCOM m'a également apporté de nombreuses connaissances en Système 
                          & Réseau.
                        </p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Stagiaire Technicien</h3>
                            <div class="time">2015 - 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">
                          <a href="http://www.avadypool.com/">Avady Pool</a>, Osny
                        </div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>
                          J'ai été pris par Avady afin d'assister l'équipe de production dans leur activité. Pour cela, il m'a été 
                          demandé de créer et d'améliorer des outils afin de faciliter leur travail et d'optimiser la production.<br>
                          L'un de ces outils est un prototype de banc de test automatisé pour vérifier l'étanchéité de la pompe. 
                        </p>                        
                    </div><!--//details-->
                </div><!--//item-->
</section><!--//section-->
