<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projets</h2>
                <!-- <div class="intro">
                    <p>
                      You can list your side projects or open source libraries in this section.
                    </p>
                </div>//intro-->
                <div class="item">
                    <span class="project-title"><a href="https://github.com/shakapark/TheCubePlugin">The Cube</a></span> - 
                    <span class="project-tagline">
                      Un plugin Minecraft pour un serveur Spigot. Ce plugin permet de jouer un mini jeu dans un labyrinthe avec 
                      un des joueurs sélectionnés aléatoirement comme étant le "Monstre" et a pour objectif d'empécher les autres de sortir.
                    </span>
                    
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://github.com/shakapark/SensorsDocker" target="_blank">SensorsDocker</a></span> - 
                    <span class="project-tagline">
                      Un conteneur développé pour fonctionner avec Node-Exporter, un module de Prometheus. Il permet de relever les 
                      températures du processeur et de les envoyer dans un fichier qui peut être lu par Node-Exporter.
                    </span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://github.com/shakapark/Redis-Exporter" target="_blank">Redis-Exporter</a></span> - 
                    <span class="project-tagline">
                      Un module de prometheus capable de se connecter à une base de donnée Redis et de chercher les informations qui y 
                      sont contenus puis de les exposés pour Prometheus.<br>
                      Work In Progress
                    </span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://github.com/shakapark/AnsibleMonitoring" target="_blank">AnsibleMonitoring</a></span> - 
                    <span class="project-tagline">
                      Un script Ansible qui permet de déployer un système de supervision complet basé sur Prometheus et Grafana, le 
                      tout en conteneur Docker. Le but est de laisser le moins de manipulation possible à l'intégrateur.
                    </span>
                </div><!--//item-->
</section><!--//section-->
